<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yooshsoft.volumescheduler">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:theme="@style/Theme.AppCompat.NoActionBar">

        <activity android:name=".volumescheduler.EventListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".volumescheduler.CreateEventActivity"></activity>

        <activity android:name=".volumescheduler.EditEventActivity"></activity>

        <receiver android:name=".volumescheduler.StartAlarmReceiver"></receiver>

        <receiver android:name=".volumescheduler.EndAlarmReceiver"></receiver>

    </application>

</manifest>
